:root {
  --bg-color: rgb(10, 10, 10);
  --text-color: #fff;
  --blog-gray-color: rgb(180, 180, 180);
  --background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.3),
      rgb(10, 10, 10, 1)
    ),
    url("{{{background}}}");
  --background-background: linear-gradient(
      0deg,
      rgba(10, 10, 10, 1),
      rgba(10, 10, 10, 0.6)
    ),
    url("{{{background}}}") center center fixed;
  --height: 50vh;
}

#display h1 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #fff;
}

#blog-display h1 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #fff;
}

.projects section {
  background: rgb(20, 20, 20);
}

#blog_section section {
  background: rgb(20, 20, 20);
}

@media (max-width: 800px) {
  :root {
    --background-image: linear-gradient(
        0deg,
        rgba(10, 10, 10, 1),
        rgba(10, 10, 10, 0)
      ),
      url("{{{background}}}") !important;
  }
}
