:root {
  --bg-color: #fff;
  --text-color: rgb(10, 10, 10);
  --blog-gray-color: rgb(80, 80, 80);
  --background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.4),
      rgb(10, 10, 10, 0.4)
    ),
    url("{{{background}}}");
  --background-background: #fff;
}
